USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 23/08/2023 10:24:37 CH ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[Bàn]    Script Date: 23/08/2023 10:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bàn](
	[Số bàn] [int] NOT NULL,
 CONSTRAINT [PK_Bàn] PRIMARY KEY CLUSTERED 
(
	[Số bàn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Đồ ăn]    Script Date: 23/08/2023 10:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Đồ ăn](
	[Mã đồ ăn] [nchar](10) NOT NULL,
	[Tên đồ ăn] [nchar](20) NOT NULL,
	[Giá gốc] [money] NULL,
	[Giá bán] [money] NULL,
 CONSTRAINT [PK_Đồ ăn] PRIMARY KEY CLUSTERED 
(
	[Mã đồ ăn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Đồ uống]    Script Date: 23/08/2023 10:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Đồ uống](
	[Mã đồ uống] [nchar](10) NOT NULL,
	[Tên đồ uống] [nchar](20) NOT NULL,
	[Giá gốc] [money] NULL,
	[Giá bán] [money] NULL,
 CONSTRAINT [PK_Đồ uống] PRIMARY KEY CLUSTERED 
(
	[Mã đồ uống] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hóa đơn bán]    Script Date: 23/08/2023 10:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hóa đơn bán](
	[Mã HĐ] [nchar](10) NOT NULL,
	[Mã đồ uống] [nchar](10) NULL,
	[Mã đồ ăn] [nchar](10) NULL,
	[Số bàn] [int] NULL,
	[Ngày xuất HĐ] [datetime] NULL,
 CONSTRAINT [PK_Hóa đơn bán] PRIMARY KEY CLUSTERED 
(
	[Mã HĐ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhân viên]    Script Date: 23/08/2023 10:24:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhân viên](
	[Mã nhân viên] [nchar](10) NOT NULL,
	[Tên nhân viên] [nchar](30) NOT NULL,
	[Ngày vào làm] [datetime] NULL,
	[Vị trí] [nchar](20) NULL,
 CONSTRAINT [PK_Nhân viên] PRIMARY KEY CLUSTERED 
(
	[Mã nhân viên] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bàn] ([Số bàn]) VALUES (1)
INSERT [dbo].[Bàn] ([Số bàn]) VALUES (2)
INSERT [dbo].[Bàn] ([Số bàn]) VALUES (3)
GO
INSERT [dbo].[Đồ ăn] ([Mã đồ ăn], [Tên đồ ăn], [Giá gốc], [Giá bán]) VALUES (N'1         ', N'Khoai tây chiên     ', 5.0000, 20.0000)
INSERT [dbo].[Đồ ăn] ([Mã đồ ăn], [Tên đồ ăn], [Giá gốc], [Giá bán]) VALUES (N'2         ', N'Bánh sừng bò        ', 7.0000, 20.0000)
INSERT [dbo].[Đồ ăn] ([Mã đồ ăn], [Tên đồ ăn], [Giá gốc], [Giá bán]) VALUES (N'3         ', N'Bánh crepe          ', 10.0000, 35.0000)
GO
INSERT [dbo].[Đồ uống] ([Mã đồ uống], [Tên đồ uống], [Giá gốc], [Giá bán]) VALUES (N'1         ', N'Cà phê đen          ', 5.0000, 20.0000)
INSERT [dbo].[Đồ uống] ([Mã đồ uống], [Tên đồ uống], [Giá gốc], [Giá bán]) VALUES (N'10        ', N'Sữa chua cà phê     ', 10.0000, 30.0000)
INSERT [dbo].[Đồ uống] ([Mã đồ uống], [Tên đồ uống], [Giá gốc], [Giá bán]) VALUES (N'2         ', N'Cà phê sữa          ', 7.0000, 22.0000)
GO
INSERT [dbo].[Hóa đơn bán] ([Mã HĐ], [Mã đồ uống], [Mã đồ ăn], [Số bàn], [Ngày xuất HĐ]) VALUES (N'HD1       ', N'1         ', N'1         ', 10, CAST(N'2023-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Hóa đơn bán] ([Mã HĐ], [Mã đồ uống], [Mã đồ ăn], [Số bàn], [Ngày xuất HĐ]) VALUES (N'HD2       ', N'2         ', N'4         ', 10, CAST(N'2023-02-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Hóa đơn bán] ([Mã HĐ], [Mã đồ uống], [Mã đồ ăn], [Số bàn], [Ngày xuất HĐ]) VALUES (N'HD3       ', N'5         ', NULL, 2, CAST(N'2023-03-13T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[Hóa đơn bán]  WITH CHECK ADD  CONSTRAINT [FK_Hóa đơn bán_Bàn] FOREIGN KEY([Số bàn])
REFERENCES [dbo].[Bàn] ([Số bàn])
GO
ALTER TABLE [dbo].[Hóa đơn bán] CHECK CONSTRAINT [FK_Hóa đơn bán_Bàn]
GO
ALTER TABLE [dbo].[Hóa đơn bán]  WITH CHECK ADD  CONSTRAINT [FK_Hóa đơn bán_Đồ ăn] FOREIGN KEY([Mã đồ ăn])
REFERENCES [dbo].[Đồ ăn] ([Mã đồ ăn])
GO
ALTER TABLE [dbo].[Hóa đơn bán] CHECK CONSTRAINT [FK_Hóa đơn bán_Đồ ăn]
GO
ALTER TABLE [dbo].[Hóa đơn bán]  WITH CHECK ADD  CONSTRAINT [FK_Hóa đơn bán_Đồ uống] FOREIGN KEY([Mã đồ uống])
REFERENCES [dbo].[Đồ uống] ([Mã đồ uống])
GO
ALTER TABLE [dbo].[Hóa đơn bán] CHECK CONSTRAINT [FK_Hóa đơn bán_Đồ uống]
GO
USE [master]
GO
